{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <hr>
                <h2 class="logo-font mb-4">Customer Reviews</h2>
                {% if request.user.is_authenticated %}
                    <h6 class="text-muted">We love to hear from our customers, your feedback is what helps is constantly improve and grow as a business.
                    </h6>
                    <div class="mt-4">
                        <a class="btn btn-black rounded-0 text-uppercase mt-2" href="{% url 'add_review' %}" role="button">Add Review</a>
                    </div>
                {% else %}
                    <h6 class="text-muted">You need to login or register to write a review: <a href="{% url 'profile' %}">My Account</a></h6>
                {% endif %}
                <hr>
            </div>
        </div>
    </div>
    {% for review in list_reviews %}
    <div class="container col-12">
        <p><strong><i class="fa-solid fa-quote-left"></i> {{ review.review_title}} <i class="fa-solid fa-quote-right"></i></strong></p>
        <p class="review-text text-muted">by: <strong>{{ review.review_name }}</strong></p>
        <p><i class="fa-solid fa-quote-left"></i> {{ review.review_text }} <i class="fa-solid fa-quote-right"></i></p>
        <p class="text-muted review-text">Posted on: {{ review.updated_on }}</p>
        <span class="review-rating">
            <!-- Star Rating if statement -->
            {% if review.review_rating == 5 %}
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            {% elif review.review_rating == 4 %}
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            {% elif review.review_rating == 3 %}
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            {% elif review.review_rating == 2 %}
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            {% else %}
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            {% endif %}
            <!-- END of Star Rating if statement -->
        </span>
        <div>
            {% if review.image %}
                <img class="review-image img-fluid mt-3 card-img-top" src="{{ review.image.url }}" alt="{{ review.review_title }} Review Image">
            {% endif %}
        </div>
        {% if request.user.is_authenticated and user.username == review.name or user.is_superuser %}
        <div>
            <a class="btn btn-black rounded-0 text-uppercase mt-2" href="{% url 'edit_review' review.id %}" role="button">Edit</a> |
            <!-- Button trigger modal -->
            <a class="btn-delete btn rounded-0 text-uppercase btn-outline-danger mt-2" data-toggle="modal" data-target="#exampleModal" role="button" data-whatever="{{ review.id }}">Delete</a>
            
        </div>
        {% endif %}
        <hr>
    </div>
    <div>
        {% if profile.image %}
            <img class="profile-image img-fluid mt-3 card-img-top" src="{{ profile.image.url }}" alt="{{ review.name }} Profile Pic">
        {% endif %}
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Review</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            Are you sure you want to <strong class="text-danger">DELETE</strong> your Review?
            </div>
            <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a class="btn btn-secondary" href="{% url 'delete_review' review.id %}">
            Delete Review
            </a>
            </div>
        </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
