{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 contact-1">
      <hr />
      <h2 class="logo-font mb-4 text-center">Contact Drum Loot</h2>
      <h5 class="text-muted text-center">Complete our Contact Form below!</h5>
      <hr />
    </div>
    <div class="col-12 col-md-6 contact-2">
      <hr />
      <h2 class="logo-font mb-4 text-center">Contact Information</h2>
      <h5 class="text-muted text-center">Open 9am-5pm all week!</h5>
      <hr />
    </div>
    <div class="w-100 d-none d-md-block"></div>
    <div class="col-12 col-md-6 contact-3">
      <form
        method="POST"
        href="#"
        class="form mb-2"
        enctype="multipart/form-data"
      >
        {% csrf_token %} {% for field in form %} {{ field | as_crispy_field }}
        {% endfor %}
        <button class="btn btn-black rounded-0" type="submit">
          Submit <i class="fab fa-telegram-plane pl-2"></i>
        </button>
      </form>
    </div>
    <div class="col-12 col-md-6 text-center contact-4">
      <div class="bg-orange">
        <p>
          We're open 7 days a week, contact us via our details below. Want to
          come in and check out some of our equipment, feel free to drop around,
          no need to call in advance.
        </p>
        <h5>Email:</h5>
        <p>info@drumloot.com</p>
        <h5>Phone:</h5>
        <p>045 948 4590</p>
        <h5>Address:</h5>
        <p>105 Tilted Towers, California, USA</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
