    <footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4 class="text-white">Locate Us</h4>
                                <span>105 Tilted Towers, California, USA</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4 class="text-white">Call Us</h4>
                                <span>045 948 4590</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4 class="text-white">E-Mail us</h4>
                                <span>info@drumloot.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                                    <h2 class="logo-font text-white my-0"><strong class="strong">Drum</strong> Loot</h2>
                                </a>
                            </div>
                            <div class="footer-text">
                                <p>Drum Loot is a Music Store that not only has a great selection of drum equipment online, 
                                    but a physical store to come test out our equipment. See you soon!
                                </p>
                            </div>
                            <div class="footer-social-icon">
                                <span>Follow us</span>
                                <a href="https://www.facebook.com/profile.php?id=61554500882267" target="_blank" rel="noopener"
                                aria-label="Visit our Facebook page (Opens in a new tab)"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                                aria-label="Visit our Facebook page (Opens in a new tab)"><i class="fab fa-twitter twitter-bg"></i></a>
                                <a href="https://myaccount.google.com/" target="_blank" rel="noopener"
                                aria-label="Visit our Facebook page (Opens in a new tab)"><i class="fab fa-google-plus-g google-bg"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Useful Links</h3>
                            </div>
                            <ul>
                                <li><a href="{% url 'home' %}"
                                    aria-label="Visit our Home page">Home</a></li>
                                <li><a href="{% url 'products' %}"
                                    aria-label="Visit our Products page">Products</a></li>
                                <li><a href="{% url 'products' %}"
                                    aria-label="Visit our Reviews page">Reviews</a></li>
                                <li><a href="{% url 'contact' %}"
                                    aria-label="Visit our Contact page">Contact</a></li>
                                <li><a href="{% url 'products' %}?special_offers=clearance,b-stock"
                                    aria-label="Visit our Specials page">Specials</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Subscribe</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Don't miss to subscribe to our new feeds, kindly fill the form below.</p>
                            </div>
                            <!-- MailChimp Email Signup-->
                            <div class="subscribe-form">
                                <div id="mc_embed_shell">
                                    <div id="mc_embed_signup">
                                    <form action="https://herokuapp.us11.list-manage.com/subscribe/post?u=c40af793abd50b289844271ab&amp;id=a882048ebf&amp;f_id=000e9ee0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                                        <div id="mc_embed_signup_scroll"><h2>Subscribe</h2>
                                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                            <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span></div>
                                        <div id="mce-responses" class="clear foot">
                                            <div class="response" id="mce-error-response" style="display: none;"></div>
                                            <div class="response" id="mce-success-response" style="display: none;"></div>
                                        </div>
                                        <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                            <!-- /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */ -->
                                            <input type="text" name="b_c40af793abd50b289844271ab_a882048ebf" tabindex="-1" value="">
                                        </div>
                                        <div class="optionalParent">
                                            <div class="clear foot">
                                                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button bg-orange" value="Subscribe">
                                                <p style="margin: 0px auto;"></p>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                                <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2018, All Right Reserved</p>
                            <a href="https://www.termsfeed.com/live/962a6ed6-581a-45a0-be10-62338762ce9a" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>