
<!-- Footer -->
<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta"></div>
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="cta-text">
                        <h4>Find Us</h4>
                        <span>105 Tilted Towers, California, USA</span>
                </div>
            </div>
        </div>
    </div>
    <div clas="col-xl-4 col-md-4 mb-30">
        
    </div>
</footer>
<!-- Footer End -->